<a href="/posts/<%=@post_id%>" ><input type="button" value="Back to Post" /></a>

<div>
  Posted by: <%= @comment.user.username %>,  on  <%= @comment.updated_at %>, <%= @time_ago %> seconds ago.
  <br><br>
  <%= @comment.content %> 
  <br>
  <!-- User can see edit button, if it is their comment -->
  <% if @comment.user_id == current_user.id %>
    <a href="/posts/<%=@post_id%>/comments/<%=@comment.id%>/edit" ><input type="button" value="Edit Your comment" /></a>
  <%end%>

</div>
