<header>
  <div align= "right">
    <!-- if the user is currently logged in, they can logout -->
    <% if session[:user_id] != nil %>
      <a href="/posts/new"><input type="button" value="New Post" /></a>
      <a href="/logout"><input type="button" value="Log Out" /></a>
      <div align= "left">
        <a>You are logged in as <%=@user.username%>.</a><br>
      </div>

    <!-- If the user is not logged in, they can sign in or create an account -->
    <% else %>
      <a href="/signup"><input type="button" value="Sign Up" /></a>
      <a href="/login"><input type="button" value="Log In" /></a>
    <%end%>
  </div>
</header>

<h1>View all post by the community</h1>

<% @posts.each do |post| %>
  ----------------
  <h3> <a href="/posts/<%= post.id %>"><%= post.title %></a> </h3>
  <p>Posted by: <%= post.user.username %>,  on  <%= post.updated_at %>, <%= Time.now - post.updated_at %> seconds ago. </p>
  <p><%= post.content %> </p>
  <p>Destination Tags: <br>
   |  <% post.destinations.each { |d| %> <%= d.country %>  | <% } %></p>
  <br><br>
<% end %>

