<h1>Posts</h1>

<% @posts.each do |post| %>
  ----------------
  <h4> <a href="/posts/<%= post.id %>"><%= post.title %></a> </h4>
  posted by: <%= post.user_id %>,  on  <%= post.created_at %> <br>
  <%= post.content %> 
  <br><br>

<% end %>

