 <h4> <%= @post.title %> </h4>
 <%= @post.content %> 
 <br><br>
 Posted on <%= @post.created_at %> , <%= @time_ago %> seconds ago.


<h3>Destination tags</h3>

  <% @post.destinations.each do |d| %>
    <%= d.country %> | 
  <% end %>

