 <h2> <%= @post.title %> </h2>
 
 <%= @post.content %> 
 <br><br>
  Posted by <%= @post.user_id %>, on <%= @post.created_at %>, <%= @time_ago %> seconds ago.


<h3>Destination tags</h3>

  | <% @post.destinations.each do |d| %>
    <%= d.country %> |
  <% end %>

