 <h1> <%= @post.title %> </h1>
 
 posted by: <%= @post.user_id %>,  on  <%= @post.updated_at %>, <%= @time_ago %> seconds ago.
 <br><br>
 <%= @post.content %> 

<h3>Destination tags</h3>
  |  <% @post.destinations.each { |d| %> <%= d.country %>  | <% } %>

<br><br>
<!-- User can see edit button, if it is their post -->
<% if @post.user_id == current_user.id %>
  <a href="/posts/<%=@post.id%>/edit" ><input type="button" value="Edit Your Post" /></a>      
<%end%>


